# Compiled files
*.py[co]
*.a
*.o
*.so

# Sphinx
_build
doc/source/api/

# Release notes
releasenotes/build

# Packages/installer info
*.egg
*.egg-info
dist
build
.eggs
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Other
*.DS_Store
.stestr
.tox
.idea
.venv
.*.swp
.coverage
cover
AUTHORS
ChangeLog
*.sqlite
test.conf
